<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <connectionStrings>
    <!--<add name="MSSQLConnection" connectionString="Data Source=172.17.3.106;Initial Catalog=PMI;Persist Security Info=True;User ID=pmi;Password=pmidb!" providerName="System.Data.SqlClient"/>-->
    <add name="MSSQLConnection" connectionString="Data Source=.\sqlexpress;Initial Catalog=PMI;Integrated Security=True;" providerName="System.Data.SqlClient"/>
    <!--<add name="OracleConnection" connectionString="Data Source=//172.17.3.137:1521/erp9.tyg.com.tw;Persist Security Info=True;User ID=POCAD;Password=TEAAB7121973;Unicode=True" providerName="System.Data.OracleClient"/>-->
    <add name="PD920" providerName="System.Data.OracleClient" connectionString="Data Source=//172.17.3.131:1521/erp92.tyg.com.tw;Persist Security Info=True;User ID=POCAD;Password=TEAAB7121973;Unicode=True"/>
    <add name="PY920" providerName="System.Data.OracleClient" connectionString="Data Source=//172.17.3.131:1521/erp92.tyg.com.tw;Persist Security Info=True;User ID=POCAD;Password=TEAAB7121973;Unicode=True"/>
    <add name="PD910" providerName="System.Data.OracleClient" connectionString="Data Source=//172.17.3.137:1521/erp9.tyg.com.tw;Persist Security Info=True;User ID=POCAD;Password=TEAAB7121973;Unicode=True"/>
    <add name="PY910" providerName="System.Data.OracleClient" connectionString="Data Source=//172.17.3.124:1521/py9db;Persist Security Info=True;User ID=POCAD;Password=TEAAB7121973;Unicode=True"/>
  </connectionStrings>
  <appSettings>
    <add key="ERPServer" value="PD920"/>
    <add key="DTA_PD920" value="PRODDTA"/>
    <add key="DTA_PY920" value="CRPDTA"/>
    <add key="DTA_PD910" value="PRODDTA"/>
    <add key="DTA_PY910" value="PRODDTA"/>
    <add key="CTL_PD920" value="PRODCTL"/>
    <add key="CTL_PY920" value="CRPCTL"/>
    <add key="CTL_PD910" value="PRODCTL"/>
    <add key="CTL_PY910" value="PRODCTL"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
